services:
  grafana:
    extends:
      file: .config/docker-compose-base.yaml
      service: grafana
  reductstore:
    image: reduct/store:latest
    ports:
      - 8383:8383
    environment:
      - RS_API_TOKEN=${RS_API_TOKEN:-dev-token}
      - RS_LICENSE_PATH=/reduct.lic
      - RS_CORS_ALLOW_ORIGIN=*
    volumes:
      - ./.reductstore:/data
      - ~/data/reduct.lic:/reduct.lic:ro
